<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CarBnB</title>
  </head>
  <body>
    <h1>CarBnB</h1>
    <form action="index.html" method="post">

    </form>
    <%= button_to "Cars", cars_url, :method => :get %>
  </body>
</html>
